{% include "base.html.twig" %}

{# {% block title %}Dice{% endblock %} #}

{% block content %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Kortspel 21</h2>
            </div>
        </div>
        <div id="table" class="row">
            <div>
                <div class="box">
                    <h3>Spelare:</h3>
                    {% for card in playerHand %} <img class="cards" src="{{ asset("img/cards/" ~ card ~ ".png" ) }}"
                        width="105" height="145" alt="Testar kortnamn">
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class="box">
                    <h3>Dealer:</h3>
                    {% for card in dealerHand %} <img class="cards" src="{{ asset("img/cards/" ~ card ~ ".png" ) }}"
                        width="105" height="145" alt="">
                    {% endfor %}
                </div>
            </div>
        </div>
        <h2 id="message">{{message}}</h2>
        <div class="row">
            <div class="buttons">
                <a class="button" href="{{ path("game-plan") }}">Nytt spel</a>
                <a class="button" href="{{ path("hit") }}">Dra ett till kort</a>
                <a class="button" href="{{ path("stand") }}">Stanna</a>
            </div>
        </div>

        <div class="scoreboard">
            <table class="table-scoreboard">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="text-right">Nuvarande totala poäng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Spelare</strong></td>
                        <td class="text-right">
                            {{playerScore}}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Dealer</strong></td>
                        <td class="text-right">
                            {{dealerScore}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% include 'footer.twig' %}
</body>


{% endblock %}