{% include "base.html.twig" %}

{# {% block title %}Dice{% endblock %} #}

{% block content %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Kortspel 21</h2>
            </div>
        </div>
        <div id="table" class="row">
            <div>
                <div class="box">
                    <h3>Spelare:</h3>
                    {% for card in playerHand %} <img class="cards" src="{{ asset("img/cards/" ~ card ~ ".svg" ) }}"
                        width="105" height="145" alt="Testar kortnamn">
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class="box">
                    <h3>Dealer:</h3>
                    {% for card in dealerHand %} <img class="cards" src="{{ asset("img/cards/" ~ card ~ ".svg" ) }}"
                        width="105" height="145" alt="">
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="buttons" class="row">

            <div class="buttons">
                <button><a class="btn" href="?action=hit">Dra ett till kort</a></button>
                <button><a class="btn" href="?action=stand">Stanna</a></button>
                <button><a class="btn" href="?action=new">Nytt spel</a>
                <!-- <a class="btn btn-danger" href="?action=end">Avsluta spel</a> -->
            </div>
        </div>

        <div class="scoreboard">
            <table class="table-scoreboard">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="text-right">Nuvarande totala poäng</th>
                        <th class="text-right">Totala vinster</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Spelare</strong></td>
                        <td class="text-right">
                            {{playerScore}}
                        </td>
                        <td class="text-right">
                            {{playerWins}}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Dealer</strong></td>
                        <td class="text-right">
                            {{dealerScore}}
                        </td>
                        <td class="text-right">
                            {{dealerWins}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% include 'footer.twig' %}
</body>

{% endblock %}