{% include 'base.html.twig' %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>Bibliotek</h2>

        <table>
            {% for table in library|batch(100) %}
            <tbody>
                <tr>
                    <th>Titel</th>
                    <th>ISBN</th>
                    <th>Författare</th>
                    <th></th>
                </tr>
                <tr>
                    {% for item in table %}
                    <td><a href="show/{{item.id}}">{{item.title}}</a></td>
                    <td>{{item.ISBN}}</td>
                    <td>{{item.author}}</td>
                    <td> <img class="library" src="{{ asset("img/library/" ~ item.image ~ "" ) }}" width="130"
                            height="200" alt="{{item.image}}"></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endfor %}
        </table>
    </div>

    {% include 'footer.twig' %}
</body>