{% include 'base.html.twig' %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>Information om bok med id {{id}}</h2>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Titel</th>
                    <th>ISBN</th>
                    <th>Författare</th>
                    <th>Bild</th>
                </tr>
                <tr>
                    <td>{{id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.ISBN}}</td>
                    <td>{{book.author}}</td>
                    <td> <img class="library" src="{{ asset("img/library/" ~ book.image ~ "" ) }}" width="130"
                        height="200" alt="{{book.image}}"></td>
                </tr>
            </tbody>
        </table>
        <a class="button" href="../update/{{book.id}}">Uppdatera bok</a>
    </div>

    {% include 'footer.twig' %}
</body>