{% include 'base.html.twig' %}

<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>Bibliotek</h2>
        <table class="table">
            {% for table in library|batch(100) %}
            <tbody>
                <tr>
                    {% for item in table %}
                    <td> <img class="library" src="{{ asset("img/library/" ~ item.image ~ "" ) }}" width="140"
                            height="200" alt="{{item.image}}"></td>
                    <td><u><a class="book-title" href="show/{{item.id}}">{{item.title}}</a></u>
                    <p class="book-text">av {{item.author}}</p></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endfor %}
        </table>
        <a class="button" href="create/new">Lägg till ny bok</a>
    </div>

    {% include 'footer.twig' %}
</body>