{% include 'base.html.twig' %}


<body>
    {% include 'nav.twig' %}
    <div class="container">
        <h2>Uppdatera bok med id {{id}}</h2>
        {# <table class="table">
            <tbody>
                <tr>
                    <th>Titel</th>
                    <th>ISBN</th>
                    <th>Författare</th>
                    <th>Bildlänk</th>
                </tr>
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.ISBN}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.image}}</td>
                </tr>
            </tbody>
        </table> #}
        <div class="form-container">
            <form method="post">
                <fieldset>
                    <p>
                        <label>Id
                            <input type="text" name="id" readonly value="{{id}}">
                        </label>
                        <label>Titel
                            <input type="text" name="title" value="{{book.title}}">
                        </label>
                    </p>
                    <p>
                        <label>ISBN
                            <input type="text" name="ISBN" value="{{book.ISBN}}">
                        </label>
                    </p>
                    <p>
                        <label>Författare
                            <input type="text" name="author" value="{{book.author}}">
                        </label>
                    </p>
                    <p>
                        <label>Bild
                            <input type="text" name="image" value="{{book.image}}">
                        </label>
                    </p>
                    <p>
                        <input type="submit" value="Uppdatera bok">
                    </p>
                </fieldset>
            </form>
        </div>
        <a class="button" href="../show/{{id}}">Tillbaka till detaljöversikt</a>
    </div>
</body>